<html ng-app="schApp">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Eleições Minicipais Schroeder - Quem ganha?">
    <meta name="keywords" content="Eleições Minicipais Schroeder - Quem ganha?">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="canonical" href="http://urna.schroeder.net.br">
    <meta name="referrer" content="origin">
    <link rel="next" href="http://urna.schroeder.net.br">
    <meta property="og:site_name" content="Eleições Minicipais Schroeder - Quem ganha?">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Eleições Minicipais Schroeder - Quem ganha?">
    <meta property="og:description" content="Eleições Minicipais Schroeder - Quem ganha?">
    <meta property="og:url" content="http://urna.schroeder.net.br">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Eleições Minicipais Schroeder - Quem ganha?">
    <meta name="twitter:description" content="Eleições Minicipais Schroeder - Quem ganha?">
    <meta name="twitter:url" content="http://urna.schroeder.net.br">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Website",
      "publisher": "Eleições Minicipais Schroeder - Quem ganha?",
      "url": "http://urna.schroeder.net.br",
      "description": "Eleições Minicipais Schroeder - Quem ganha?"
    }
    </script>
		<title>Schroeder - Quem ganha?</title>
		<link href="bootstrap.min.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">
	</head>
	<body ng-controller="schCtrl" class="ng-cloak">
		<audio controls class="hide" id="audio">
		  <source src="som.mp3" type="audio/mp3">
		</audio>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-body text-center panel-body-title">
					  	<div class="col-md-8">
					  		<h3>Eleições Municipais Schroeder - Quem ganha?</h3>
					  	</div>
					  	<div class="col-md-4">
					  		<a class="btn btn-primary btn-lg" href="https://www.facebook.com/sharer/sharer.php?u=http://urna.schroeder.net.br" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Facebook">COMPARTILHAR NO FACEBOOK</a>
					  	</div>
					  </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
					  <div class="panel-body panel-body-vote">
					    <div class="row col-md-12">
								<blockquote><h3>Prefeito <span class="pull-right">{{getCountVotos('0')}} Votos</span></h3></blockquote>
							</div>
							<div class="text-center" ng-show="!votePrefeitoSim()">
								<h3 class="vote-true">Ops! Parece que você já votou.</h3>
								<h4 class="vote-true-h4">Deixe o seu comentário!</h4>
							</div>
							<form ng-show="votePrefeitoSim()">
							  <div class="form-group typeahead text-center" ng-class="{ 'has-error': hasPrefeito() }">
							  	<label class="control-label">Digite o NÚMERO, NOME ou PARTIDO do seu candidato a prefeito</label>
							    <input type="text" ng-model="prefeito" typeahead="prefeito as (prefeito.nome + ' (' + prefeito.partido + ') - ' + prefeito.numero) for prefeito in prefeitos | filter:$viewValue | limitTo:20" class="form-control text-center input-lg" placeholder="NÚMERO ou NOME ou PARTIDO do seu candidato a prefeito" />
							  </div>
							  <div class="text-center">
								  <button type="button" class="btn btn-success btn-lg" ng-click="validVote('0', prefeito)">Confirmar</button>
								  <button type="button" class="btn btn-default btn-lg" ng-click="vote('0', '0')">Branco</button>
								  <button type="button" class="btn btn-danger btn-lg" ng-click="vote('1', '0')">Anular</button>
								</div>
							</form>
					  </div>
					</div>
					<div class="panel panel-default">
					  <div class="panel-body panel-body-vote">
							<div class="row col-md-12">
								<blockquote><h3>Vereador <span class="pull-right">{{getCountVotos('1')}} Votos</span></h3></blockquote>
							</div>
							<div class="text-center" ng-show="!voteVereadorSim()">
								<h3 class="vote-true">Ops! Parece que você já votou.</h3>
								<h4 class="vote-true-h4">Compartilhe com seus amigos!</h4>
							</div>
							<form ng-show="voteVereadorSim()">
							  <div class="form-group typeahead text-center" ng-class="{ 'has-error': hasVereador() }">
							  	<label class="control-label">Digite o NÚMERO, NOME ou PARTIDO do seu candidato a vereador</label>
							    <input type="text" ng-model="vereador" typeahead="vereador as (vereador.nome + ' (' + vereador.partido + ') - ' + vereador.numero) for vereador in vereadores | filter:$viewValue | limitTo:20" class="form-control text-center input-lg" placeholder="NÚMERO ou NOME ou PARTIDO do seu candidato a vereador" />
							  </div>
							  <div class="text-center">
							  	<button type="button" class="btn btn-success btn-lg" ng-click="validVote('1', vereador)">Confirmar</button>
								  <button type="button" class="btn btn-default btn-lg" ng-click="vote('0', '1')">Branco</button>
								  <button type="button" class="btn btn-danger btn-lg" ng-click="vote('1', '1')">Anular</button>
							  </div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
					  <div class="panel-body panel-body-vote">
						  <ul class="nav nav-tabs" role="tablist">
						    <li role="presentation" ng-class="{'active': selected.type == '0' }"><a href="javascript:void(0)" ng-click="getCandidatos('Prefeitos', prefeitos, '0')" aria-controls="home" role="tab" data-toggle="tab"><h4>Prefeito</h4></a></li>
						    <li role="presentation" ng-class="{'active': selected.type == '1' }"><a href="javascript:void(0)" ng-click="getCandidatos('Vereadores', vereadores, '1')" aria-controls="profile" role="tab" data-toggle="tab"><h4>Vereador</h4></a></li>
						  </ul>
						  <div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="home">
						    	<table class="table table-condensed table-striped">
				        		<tbody>
				        			<tr>
				        				<td>Branco</td>
				        				<td class="text-center" width="100px">{{getCountSelectedVotos('0', selected.type)}} Votos</td>
				        			</tr>
				        			<tr>
				        				<td>Nulos</td>
				        				<td class="text-center" width="100px">{{getCountSelectedVotos('1', selected.type)}} Votos</td>
				        			</tr>
				        			<tr ng-repeat="select in selected.selected | orderBy:'-quantidade'">
				        				<td >{{select.nome}}</td>
				        				<td class="text-center" width="100px">{{select.quantidade || '0'}} Votos</td>
				        			</tr>
				        		</tbody>
				        	</table>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-body text-center">
					  	<div id="disqus_thread"></div>
							<script>
							(function(){
							    var d = document, s = d.createElement('script');
							    s.src = '//urna.disqus.com/embed.js';
							    s.setAttribute('data-timestamp', +new Date());
							    (d.head || d.body).appendChild(s);
							})();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					  </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-body text-center panel-body-title">
					  	<div class="col-md-12 text-center">
					  		<h3>::ATENÇÃO::</h3>
					  		<p>Este site é <strong>APOLÍTICO</strong>, ou seja, não possui nenhum vínculo com candidatos a vereador, prefeito ou partidos políticos. As informações são meramentes opinativas para futuros fins estatísticos.</p>
					  	</div>
					  </div>
					</div>
				</div>
		</div>
		<script src="angular.min.js"></script>
    <script src="ui-bootstrap-tpls.min.js"></script>
   	<script src="app.js"></script>
	</body>
</html>