.dropdown-menu {
  width: 100%;
  text-align: center;
  left: 0 !important;
}

.ng-cloak{
  display: none !important;
}

.container-fluid {
  margin-top: 10px;
}

h3 {
  margin-top: 10px;
}

body {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h4{
  margin-top: 0px;
  margin-bottom: 0px;
}

.tab-pane{
  height: 405px;
  overflow-x: scroll;
}

.panel-body-vote{
  padding: 10px 10px 0px 10px !important;
}

.panel-body-title{
  padding: 5px 10px 5px 10px;
}

.table{
  margin-top: 10px;
}

.vote-true{
  height: 0px;
  margin-top: 101px;
}

.vote-true-h4{
  height: 56px;
  margin-top: 50px;
}