.dropdown-menu {
  width: 100%;
  text-align: center;
  left: 0 !important;
}

.ng-cloak{
  display: none !important;
}

.container-fluid {
  margin-top: 20px;
}

h3 {
  margin-top: 10px;
}

body {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#modal {
  left: 50%;
  margin: -250px 0 0 -32%;
  opacity: 0;
  position: absolute;
  top: -50%;
  visibility: hidden;
  width: 65%;
}

#modal:target {
  opacity: 1;
  top: 50%;
  visibility: visible
}

#modal .copy, #modal .header, #modal .footer {
  padding: 10px;
  color: #fff
}

.modal-content {
  position: relative;
  z-index: 20;
  border-radius: 5px;
}

#modal .overlay {
  background-color: #000;
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10
}

.modal-body{
  height: 400px;
  overflow-x: hidden;
}